.result2 {
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	max-width: 1180px;
	.wrap {
		width: 1180px;
		position: relative;
		article {
			width: 100%;
			height: 700px;
			overflow: hidden;
			opacity: 0.7;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: blur(5px);
			}
		}
		.txt {
			width: 400px;
			height: 500px;
			padding: 130px 40px;
			position: absolute;
			top: 50%;
			left: 50%;
			// background-color: rgba(249, 249, 242, 0.687);
			background-color: rgba(248, 248, 231, 0.687);

			transform: translate(-50%, -50%);
			// background: linear-gradient(135deg, rgba(235, 213, 69, 0.989), #f1af22);
			// background-color: rgba(235, 213, 69, 0.989);
			border: 5px solid rgba(235, 213, 69, 0.989);
			h2 {
				font-size: 25px;
				font-family: 'BlackHanSans';
				color: black;
				margin-bottom: 30px;
			}
			p {
				font-size: 17px;
				color: #222;
				padding: 10px;
			}
			span {
				font-weight: 500;
				padding: 0px 10px 0px 10px;
				display: block;
				font-size: 15px;
				font-family: arial;
				color: #444;
			}
			a {
				display: block;
				padding: 10px 0px;
				border: 1px solid rgba(235, 213, 69, 0.989);
				border-radius: 50px;
				// background-color: #efefef;
				width: 150px;
				margin-top: 20%;
				margin-left: 25%;
				font-size: 15px;
				text-align: center;
				color: #222;
				background-color: rgba(235, 213, 69, 0.989);

				&:hover {
					background-color: #000;
					color: #efefef;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.result2 {
		.wrap {
			width: 100%;
			article {
				height: 100%;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.result2 {
		.wrap {
			width: 100%;
			article {
				height: 100%;
			}
			.txt {
				padding: 20px;
				width: 250px;
				height: 300px;
				h2 {
					font-size: 20px;
				}
				p {
					font-size: 15px;
				}
				a {
					font-size: 10px;
				}
			}
		}
	}
}
