.vidList {
	width: 100%;
	margin: 0px 0px 150px;
	article {
		width: 100%;
		height: 280px;
		background-color: #fcf9eb;
		margin-bottom: 30px;
		display: flex;
		.pic {
			display: block;
			width: 40%;
			height: 100%;
			position: relative;
			overflow: hidden;
			transition: 0.7s;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 0.7s;
				filter: grayscale(1);
			}
			&:hover {
				img {
					filter: brightness(1.1);
					transform: scale(1.2);
				}
			}
		}
		.con {
			width: calc(60% - 40px);
			position: relative;
			height: 240px;
			background: rgba(255, 255, 255, 0.9);

			border-top-left-radius: 50px;
			top: 20px;
			left: 20px;
			padding: 30px;
			text-align: right;
			display: block;
			h2 {
				font-weight: bold;
				font-family: 'BlackHanSans';
				font-size: 20px;
				color: rgba(235, 213, 69, 0.989);
				margin-bottom: 20px;
				text-align: center;
				padding-bottom: 10px;
				border-bottom: 1px solid black;
			}
			p {
				font-family: 'BlackHanSans';
				font-size: 15px;
				text-indent: 10px;
				color: #666;
				margin-bottom: 20px;
				text-align: center;
			}
			span {
				color: #777;
				font-family: 'BlackHanSans';
				font-size: 15px;
				display: inline-block;
			}
		}
		// &:hover {
		// 	background: rgba(235, 213, 69, 0.989);
		// 	opacity: 0.8;
		// }
		// &:hover .pic {
		// 	margin-top: 50%;
		// 	transform: translateY(-25%);
		// }
		// &:hover .con {
		// 	display: none;
		// }
	}
	figure.pop {
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: 11;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		padding: 5vw;
		display: flex;
		justify-content: center;
		align-items: center;
		.btnClose {
			position: absolute;
			top: 20px;
			right: 30px;
			color: #fff;
			cursor: pointer;
			font-size: 40px;
			&:hover {
				color: rgba(235, 213, 69, 0.989);
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.vidList {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		article {
			display: flex;
			flex-wrap: wrap;
			height: auto;
			padding: 20px;
			height: 500px;
			.pic {
				height: 50%;
				width: 100%;
			}
			.con {
				width: 100%;
				left: auto;
				top: 20px;
				height: calc(50% - 20px);
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.vidList {
		article {
			height: auto;

			.con {
				background: transparent;
				height: 20%;
				padding: 0px;
				text-align: center;
				h2 {
					padding-bottom: 0px;
					border-bottom: none;
				}
				p {
					display: none;
				}
				span {
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.vidList {
		article {
			width: 100%;
			height: 100%;
			margin: 10px auto;
			.con {
				h2 {
					font-size: 16px;
				}
			}
		}
	}
}
